{{- partial "header" . -}}
{{- partial "heading" . -}}
   {{ if isset .Params "image" }}<img class="Post-Banner-Image" src="{{ .Permalink }}/{{ .Params.image }}" alt="Banner" />{{ end }}
   <div class="Post-Heading-Container">
    <div class="Post-Heading-Inline">
     <div class="Post-Title-Pre">Category</div>
     <h1 class= "Post-Title">{{ .Title }}</h1>
     <div class="Post-Title-Sub">{{ .PublishDate.Format .Site.Params.DateForm }}{{ if .Params.modified }} ({{ .Site.Params.SymbolMod | safeHTML }} {{ .Lastmod.Format .Site.Params.DateForm }}){{ end }}{{ if isset .Params "autor" }} | {{ .Params.autor }}{{ end }} </div>
     </div>
   </div>
{{- .Content -}}
{{- partial "contentfooter" . }}
<div id="disqus_thread"></div>
{{- partial "footer" . -}}
