{{- partial "header" . -}}
{{- partial "heading" . -}}
{{- if isset .Params "image" }}   <div class="Post-Banner-Image">
      <img src="{{ .Permalink }}/{{ .Params.image }}" alt="Banner" />
   </div>
   {{- end }}
   <div class="Post-Heading-Container">
    <div class="Post-Heading-Inline">
     <div class="Post-Title-Pre">Category</div>
     <h1 class= "Post-Title">{{ .Title }}</h1>
     <div class="Post-Title-Sub">{{ .PublishDate.Format .Site.Params.DateForm }}{{ if .Params.modified }} ({{ .Site.Params.SymbolMod | safeHTML }} {{ .Lastmod.Format .Site.Params.DateForm }}){{ end }}{{ if isset .Params "autor" }} | {{ .Params.autor }}{{ end }} </div>
     </div>
   </div>
{{- .Content -}}
{{- partial "contentfooter" . }}
{{- partial "disqus-onclick" . -}}
{{- partial "footer" . -}}
