//
// footer
//

#footer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch;

   padding: 0.5rem 0.8rem;
   text-align: center;
   font-size: 0.8rem;
   background-color: $bgcolor-empty;

   a { text-decoration: none;
       color: $textcolor-default;
       &:hover{ color: $white; }
   }

   p {
       line-height: 1.12rem;
       margin-bottom: 0rem;
   }

   .item{
      flex-grow: 1;
      align-self: flex-end;
   }

   .left{
      text-align:left;
   }

   .right{
     text-align:right;
   }


}
