//
// list styles
//

.list-heading {
   margin-top: 1rem;
   margin-bottom: 2rem;
   text-align: center;
   border-top: 1px dotted $textcolor-light;
   border-bottom: 1px dotted $textcolor-light;
   h1{ margin: 0;
      padding: 0 ;
   }
}

.list-item{
   display: block;
   //border-bottom: 1px dotted $textcolor-light;
   margin:2rem 0rem;

   //padding-right: 0.8rem;
   //border-right: 2px solid $textcolor-light;

   .title{
      line-height: 2rem;
      font-weight: normal;
      letter-spacing: 0.1rem;
      margin: 0;
      padding-bottom: 0rem;
      a{ font-weight: normal; }
   }
   .header {
      .pre {
         font-size:0.8rem;
         line-height: 1rem;
       }
      //border-bottom: 1px dotted $textcolor-light;
      margin-bottom: 0.4rem;
   }

   .banner{
      img {
         width: 100%;
         height: auto;
      }
   }
   .content {
      p {  margin-bottom: 0;
           padding-bottom: 0rem;
      }
   }
   .read-more {   display: block;
                  text-align: right;
               }
}


