   <div class = "list-item">
      <div class="header">
         <span class="pre">{{ .Date.Format .Site.Params.DateForm }}{{ if isset .Params "categories" }} | {{ end }}{{ partial "category_link" . }}</span>
         <h2 class="title"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
      </div>
      <div class="content">
       {{ if isset .Params "banner" }}<div class="banner"><img src="{{ .Permalink}}/{{ .Params.banner }}" alt="Banner"/></div>{{ end }}
       <p>{{ .Summary }}</p>{{if .Truncated }}<span class="read-more"> <a href="{{ .Permalink }}">[read more]</a></span>{{ end }}
      </div>
   </div>
