</head>
<body>
 <div id="media">
  <div class="flex">
   <div id="page">
    <div class="flex-container" id="heading">
     <div id="header" role="banner">
      <div id="title">&#47<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>&#47</div>
     </div>
     <nav role="navigation" title="Main Navigation">
     {{ partial "nav" . }}
     </nav>
    </div>
    <div id="banner">{{ if isset .Params "banner" }}<img class="banner-image" src="{{ .Permalink }}/{{ .Params.banner }}" alt="Banner" />{{ end }}</div>
  <div id="content">
