 <meta property="og:site_name" content="{{ .Site.Title }}">
 <meta property="og:locale" content="de_AT">
{{- if eq .URL "/" }} {{/* The landing page */}}
 <meta property="og:title" content="{{ .Title }}">
 <meta property="og:description" content="foo">
 <meta property="og:img" content="/img/nxa.png">
 <meta property="og:type" content="website">
{{- else }}
 <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
{{- with .Description }}
 <meta property="og:description" content="{{ . }}">
{{- end }}
{{- with .Params.image }}
 <meta property="og:img" content="{{ $.Permalink }}/{{ . }}">
{{- end }}
 <meta property="og:type" content="blog">{{/* TODO: dynamic types */}}
 <meta property="og:url" content="{{ .Permalink }}">
{{- end -}}
