  <a class="iconlink facebook" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" title="Share with Facebook" target="_blank">
      {{ partial "genericons/svgfacebookalt.html" }}<span>share</span>
   </a>
   <a class="iconlink twitter" href="https://twitter.com/intent/tweet?url={{ .Permalink }}" title="Share with Twitter" target="_blank">
      {{ partial "genericons/svgtwitter.html" }}<span>tweet</span>
   </a>
  <a class="iconlink google" href="https://plus.google.com/share?url={{ .Permalink }}" title="Share with Google+" target="_blank">
      {{ partial "genericons/svggoogleplus.html" }}<span> +1</span>
  </a>
  <a class="iconlink" href="mailto:?&amp;body={{.Title}} {{ .Permalink }}" title="Share by Mail" target="_blank">
     {{ partial "genericons/svgmail.html" }}<span>mail</span>
  <a class="iconlink" href="{{ .Permalink }}" title="Permalink">
      {{ partial "genericons/svglink.html" }}<span> Permalink</span>
  </a>

