   <a class="iconlink" href="{{ .Permalink }}" title="Permalink">
      {{ partial "genericons/svglink.html" }}<span> Permalink</span>
   </a>
   <a class="iconlink" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" title="Share with Facebook" target="_blank">
      {{ partial "genericons/svgfacebookalt.html" }}<span>Facebook</span>
   </a>
   <a class="iconlink" href="https://twitter.com/intent/tweet?url={{ .Permalink }}" title="Share with Twitter" target="_blank">
      {{ partial "genericons/svgtwitter.html" }}<span>Twitter</span>
   </a>
  <a class="iconlink" href="https://plus.google.com/share?url={{ .Permalink }}" title="Share with Google+" target="_blank">
      {{ partial "genericons/svggoogleplus.html" }}<span> Google+</span>
   </a>

