{{ partial "header" . -}}
{{ partial "heading" . }}
<div class=landing>
   <div class="part">
      <h1 class="part-title"><a href="{{ "/micro/" | relURL }}" Title="Timeline">Timeline</a></h1>
      <ul class="micro">
      {{ range first 3 (where .Site.Pages "Type" "micro") }}
      {{ .Render "micro_li" }}
      {{ end }}
      </ul>
   </div>
   <div class="part">
   <h1 class="part-title">Latest</h1>
   {{ range first 1 ( and (where .Site.Pages "Type" "!=" "page") (where .Site.Pages "Type" "!=" "micro")) }}
      {{ .Render "li"}}
   {{ end }}
   </div>
   <div class="part">
   <h1 class="part-title">Topics</h1>
   <div class="topics">
   {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
   <a href="{{"/categories/" | relURL}}{{ $name | urlize}}">{{ humanize $name }}</a>
   {{ end }}
   </div></div>
</div>
{{ partial "footer" . }}
